{% extends 'base.html' %}

{% block content %}
<div style="width: 80%; margin: 0 auto;">
    <h2>{{ review.title }}</h2>

    <div style="display: flex; gap: 20px;">
        <!-- 포스터 -->
        <img src="{{ review.poster.url }}" alt="{{ review.title }}" style="width: 200px; height: auto;">

        <!-- 영화 정보 -->
        <div>
            <p><strong>개봉년도:</strong> {{ review.release_year }}년</p>
            <p><strong>감독:</strong> {{ review.director }}</p>
            <p><strong>주연:</strong> {{ review.cast }}</p>
            <p><strong>장르:</strong> {{ review.get_genre_display }}</p>
            <p><strong>별점:</strong> {{ review.rating }}</p>
            <p><strong>러닝타임:</strong> {{ hours }}시간 {{ minutes }}분</p>

        </div>
    </div>

    <!-- 리뷰 본문 -->
    <div style="margin-top: 30px;">
        <p>{{ review.content }}</p>
    </div>

    <!-- 수정/삭제 버튼 -->
    <div style="margin-top: 20px; text-align: right;">

            <a href="{% url 'review_update' review.id %}" style="padding: 8px 16px; background-color: gray; color: white; text-decoration: none; border-radius: 5px; margin-right: 10px; font-size: 14px;">
            수정
            </a>
            <form action="{% url 'review_delete' review.id %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?')" style="padding: 8px 16px; background-color: crimson; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 14px;">
                    삭제
                </button>
            </form>
    </div>
</div>
{% endblock %}
